<!-- header.html -->
{% load static %}
<h5>
    <img src="{% static 'img/logo.jpg' %}" width="150">
    電子看板

    <button onclick='runningtables()' href="http://www.google.com">後拉看板總表</button><span id='r1'></span>
    <button onclick='runningtables()'>日目標_進度_wip分布</button><span id='r2'></span>
    <button onclick='outputers()'>出貨準備達成進度</button><span id='r3'></span>

    {% if UDTime  %}
        <span calss='myDTime' style="font-family:標楷體;"> 更新時間:{{ UDTime }} </span>
    {% else  %}
        <span calss='myDTime' style="font-family:標楷體;"> 更新時間:??? </span>
    {% endif  %}

</h5>

