<!-- index_Running.html -->
{% extends 'base.html' %}
{% block title %} Welcome to 電子看板 {% endblock %}
{% block headmessage %}
pyth
{% endblock %}

{% block content %}
    <table border="1">
      <thred>
          {% for obj_list in Header_list %}
        <tr>
          <th></th>
          <th></th>
            {% for item in obj_list %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
          {% endfor %}
      </thred>

      <tbody>
        <tr>
          {% for obj_list in data_list %}
            <tr>
            {% for item in obj_list %}
            <td>{{item}}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
{% endblock %}