<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/static/img/logo.jpg" alt="">
<h1> Welcom </h1>
<dev> {{ n1 }} </dev>
<dev> {{ n2 }} </dev>
<hr/>
<dev> {{ n2.0 }} </dev>
<dev> {{ n2.1 }} </dev>
<dev> {{ n2.2 }} </dev>
<hr/>
<div>
    {% for item in n2 %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<hr/>
<div>
    <dev> {{ n3.name }} </dev>
    <dev> {{ n3.salary }} </dev>
    <dev> {{ n3.role }} </dev>
</div>
<hr/>
<ul>
    {% for k,v in n3.items %}
        <li>{{ k }} = {{ v }} </li>
    {% endfor %}
</ul>
<hr/>
<div> {{ n4.0 }}</dev>
<div> {{ n4.1.name }}</dev>
<div> {{ n4.2.role }}</dev>
<hr/>

{% for item in n4 %}
    <div>{{ item.name }} {{ item.salary }} </div>
{% endfor %}

<hr/>
    {% if n1 == "superman" %}
        <h1> ok </h1>
    {% else %}
        <h1> ng </h1>
    {% endif %}





</body>
</html>