<!-- runninngtables.html -->
{% extends 'base.html' %}
{% block title %} RunningTables {% endblock %}
{% block headmessage %}

{% endblock %}

{% block myMenu %}
    {% include 'menu.html' %}
{% endblock %}

{% block myMenu2 %}
    {% if data_list %}
    {% include 'menu2.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    <table id="tb1" border="3">
      <thred>
          {% for obj_list in Header_list %}
        <tr>
          <th></th>
          <th></th>
            {% for item in obj_list %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
          {% endfor %}
      </thred>

      <tbody>
        <tr>
          {% for obj_list in data_list %}
            <tr>
            {% for item in obj_list %}
              {% if item < 0 %}
                <td class="negative">{{item}}</td>
              {% else %}
                <td>{{item}}</td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% for obj_list in data_list %}
    {% if forloop.counter == 1 %}
      <br>
      <button onclick="convertTableToXLSX('tb1', 'table1')">導出XLSX檔</button>
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content2 %}
    <hr>
    <table id="tb2" border="3">
      <thred>
          {% for obj_list in Header_list2 %}
        <tr>
          <th></th>
          <th></th>
            {% for item in obj_list %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
          {% endfor %}
      </thred>

      <tbody>
        <tr>
          {% for obj_list in data_list2 %}
            <tr>
            {% for item in obj_list %}
            {% if item < 0 %}
                <td class="negative">{{item}}</td>
              {% else %}
                <td>{{item}}</td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% for obj_list in data_list2 %}
    {% if forloop.counter == 1 %}
      <br>
      <button onclick="convertTableToXLSX('tb2', 'table2')">導出XLSX檔</button>
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}